# 04-Anscombe

The goal of this assignment is to understand why ploting data is so important. Anscombe's quartet is a great example of data which seems to be the same statistically, however, once graphed can be vastly different.

## Functions to Consider
- df = pd.read_csv("anscombe.csv")
- read_csv(filename)
- display(dataframe) - Print a formatted table of the Dataframe
- 
.info - Print a concise summary of a DataFrame
- 
.describe - Generate descriptive statistics of DataFrame columns.

## Algorithm
1. Calculate the average all of the data (44 examples)
2. Calculate the standard deviation of all the data (44 examples)
3. Compare the results to those achieved by using the describe() command
4. Perform step 1 and 2 for each dataset (I-IV), again comparing the results. Consider using the for x in y: capability in Python
5. Graph each dataset (I-IV) using px.scatter()
6. Compare results with those found on the Wikipedia pageove.

## Program

1. Calculate the average for each dataset (44 examples)

In [1]:
import pandas as pd
import plotly.express as px
sum = 0
total = 0
df = pd.read_csv("anscombe.csv")
display(df)
cols = ["x", "y"]
qs = ["I", "II", "III", "IV"]

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [2]:
df.describe()

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

In [23]:
for col in cols:
    data = df[col]
    sum = 0
    for n, element in enumerate(data):
        sum += int(element)
        total = n
    avg1 = sum / total
    print(f"The average for dataset {col} is {avg1}")

The average for dataset x is 9.209302325581396
The average for dataset y is 7.162790697674419

In [4]:
sum = 0 #reset sum so that past data doesn't interfere
total = 0
df = pd.read_csv("anscombe.csv")
data = df["y"]
for n, element in enumerate(data):
    sum += int(element)
    total = n
avg2 = sum / total
f"The average for dataset y is {avg2}"

#[(dataset_x)] it will provide you the data corrisponded in the column as a list

'The average for dataset y is 7.162790697674419'

In [5]:
avg3 = (avg1 + avg2) / 2
f"The average for both datasets is {avg3}"

'The average for both datasets is 11.767441860465116'

2. Calculate the standard deviation of the data (44 examples)

In [6]:
import statistics
#need to get all of the numbers in a list to calculate the standard deviation. ask how to get them into a list
sum = 0
total = 0
#print(f"{data = }")
#print()
#print(f"{avg3 = }")
sd = statistics.stdev(data)
print(f"The standard deviation is {sd}")

The standard deviation is 1.958925189078419

3. Compare the results to those achieved by using the describe() command

In [7]:
df.info
df.describe()

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

Compared to the results that were already achieved, my results are the same for each row

4. Perform steps 1 and 2 for each dataset (I-IV), again comparing the results. Consider using the for x in y: capability in Python

Dataset 1

In [8]:
#df[df["dataset"] == 'I']

In [9]:
sum = 0
total = 0
df = pd.read_csv("anscombe.csv")
data = df[df["dataset"] == 'I']["x"]
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg1 = sum / total
f"The mean for column x in quadrant I is {avg1}"

'The mean for column x in quadrant I is 2.302325581395349'

In [10]:
sum = 0
total = 0
df = pd.read_csv("anscombe.csv")
data = df[df["dataset"] == 'I']["y"]
print(f"{data = }")
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg2 = sum / total
print(f"{data = }")
f"The mean for column y in quadrant I is {avg2}"

data = 0      8.04
1      6.95
2      7.58
3      8.81
4      8.33
5      9.96
6      7.24
7      4.26
8     10.84
9      4.82
10     5.68
Name: y, dtype: float64
data = 5.68

'The mean for column y in quadrant I is 1.918837209302326'

In [11]:
avg3 = (avg1 + avg2) / 2
f"The average for both datasets is {avg3} in quadrant I"

'The average for both datasets is 2.1105813953488375 in quadrant I'

In [12]:
#import statistics
#need to get all of the numbers in a list to calculate the standard deviation. ask how to get them into a list

Dataset 2

In [13]:
sum = 0
total = 0
data = df[df["dataset"] == 'II']["x"]
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg1 = sum / total
f"The mean for column x in quadrant II is {avg1}"

'The mean for column x in quadrant II is 2.302325581395349'

In [14]:
sum = 0
total = 0
data = df[df["dataset"] == 'II']["y"]
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg2 = sum / total
f"The mean for column y in quadrant II is {avg2}"

'The mean for column y in quadrant II is 1.9188372093023256'

In [15]:
avg3 = (avg1 + avg2) / 2
f"The average for both datasets is {avg3} in quadrant II"

'The average for both datasets is 2.110581395348837 in quadrant II'

Dataset 3

In [16]:
sum = 0
total = 0
data = df[df["dataset"] == 'III']["x"]
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg1 = sum / total
f"The mean for column x in quadrant III is {avg1}"

'The mean for column x in quadrant III is 2.302325581395349'

In [17]:
sum = 0
total = 0
data = df[df["dataset"] == 'III']["x"]
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg2 = sum / total
f"The mean for column y in quadrant III is {avg2}"

'The mean for column y in quadrant III is 2.302325581395349'

In [18]:
avg3 = (avg1 + avg2) / 2
f"The average for both datasets is {avg3} in quadrant III"

'The average for both datasets is 2.302325581395349 in quadrant III'

Dataset 4

In [19]:
sum = 0
total = 0
data = df[df["dataset"] == 'IV']["x"]
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg1 = sum / total
f"The mean for column x in quadrant IV is {avg1}"

'The mean for column x in quadrant IV is 2.302325581395349'

In [20]:
sum = 0
total = 0
data = df[df["dataset"] == 'IV']["y"]
#print(f"{data}")
for data in data:
    sum += data
    total = n
avg2 = sum / total
f"The mean for column x in quadrant I is {avg2}"

'The mean for column x in quadrant I is 1.9188372093023254'

In [21]:
avg3 = (avg1 + avg2) / 2
f"The average for both datasets is {avg3} in quadrant III"

'The average for both datasets is 2.110581395348837 in quadrant III'

In [22]:
import statistics
sum = 0
total = 0
quadrants = ['I', 'II', 'III', 'IV']
columns = ['x', 'y']
for quadrant in quadrants:
    for column in columns:
        [df[df["dataset"] == 'IV']]["y"]

<>:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Olivia's PC\AppData\Local\Temp\ipykernel_15960\103447803.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  [df[df["dataset"] == 'IV']]["y"]
C:\Users\Olivia's PC\AppData\Local\Temp\ipykernel_15960\103447803.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  [df[df["dataset"] == 'IV']]["y"]
C:\Users\Olivia's PC\AppData\Local\Temp\ipykernel_15960\103447803.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  [df[df["dataset"] == 'IV']]["y"]
C:\Users\Olivia's PC\AppData\Local\Temp\ipykernel_15960\103447803.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  [df[df["dataset"] == 'IV']]["y"]
C:\Users\Olivia's PC\AppData\Local\Temp\ipykernel_15960\103447803.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  [df[df["dataset"] == 'IV']]["y"]

TypeError: list indices must be integers or slices, not str

5. Graph each dataset (I-IV) using px.scatter()

In [ ]:
import plotly.express as px
data = df[df["dataset"] == 'I']
fig = px.scatter(data, x = "x", y = "y", title = "Dataset I")
fig.show()

In [ ]:
import plotly.express as px
data = df[df["dataset"] == 'II']
fig = px.scatter(data, x = "x", y = "y", title = "Dataset II")
fig.show()

In [ ]:
import plotly.express as px
data = df[df["dataset"] == 'III']
fig = px.scatter(data, x = "x", y = "y", title = "Dataset III")
fig.show()

In [ ]:
import plotly.express as px
data = df[df["dataset"] == 'IV']
fig = px.scatter(data, x = "x", y = "y", title = "Dataset IV")
fig.show()

## Summary

I learned the following from this assignment:
1. how to...
2. how to...
3. how to...