# 03-Graph-Kinetic-Energy
Using the data calculated from Kinetic-Energy, create a plot which uses a dataframe to plot the data. While getting the data into a dataframe is more complex than a series of lists, this complexity pays off with an ease of printing and plotting the dataframe.

We'll also use dataframes to plot more complex and detailed data from other projects. This assignment will get us started and make some room for experimentation with graphing using python libraries.

## Functions to Consider
- import pandas as pd
- df = pd.DataFrame(table)
- pd.set_option('float_format', '{:,.2f}'.format)
 display(df
- fig = px.line(df, x='Speeds(mph)', y=['Kia', 'Ford', "Fiat", "Dodge"]))

## Algorithm
1. Creating a list for each category on the table
2. Create a table to represent the data
3. Index the list
4. Calculate the speed that each car is traveling in each location

## Program

1. Creating a list for each category on the table

In [1]:
import pandas as pd
masses = [4502, 6015, 3305, 4073]
cars = ["Kia", "Ford", "Fiat", "Dodge"]
speeds = [15, 45, 65]

#put all your information from the last project into a list and then you're going to calculate it here

2. Create a table to represent the data

In [2]:
table = {
    "Speeds": ["15", "45", "65"],
    "Kia": [],
    "Ford": [],
    "Fiat": [],
    "Dodge": []
}

2. Index the list

In [3]:
for n, car in enumerate(cars):
    print(car, masses[n])

Kia 4502
Ford 6015
Fiat 3305
Dodge 4073

4. Calculate the speed that each car is traveling in each location

In [4]:
print(table)
for speed in speeds:
    for n, car in enumerate(cars):
        table[car].append((masses[n] * .5) * (speed)**2)
df = pd.DataFrame(table)
#whenever you mention either masses or cars, you need to mention both because they're connected

{'Speeds': ['15', '45', '65'], 'Kia': [], 'Ford': [], 'Fiat': [], 'Dodge': []}

In [5]:
pd.set_option('float_format', '{:,.2f}'.format) 
display(df)

  Speeds          Kia          Ford         Fiat        Dodge
0     15   506,475.00    676,687.50   371,812.50   458,212.50
1     45 4,558,275.00  6,090,187.50 3,346,312.50 4,123,912.50
2     65 9,510,475.00 12,706,687.50 6,981,812.50 8,604,212.50

## Summary

I learned the following from this assignment:
1. How to combine both projects into one, using a table to graph my information
2. What dictionaries are and how useful they are in graphing
3. How to persistantly work through problems and work through errors in my program

I will ask for help during class today if I am able to.