# Debugging

## Assignment
Complete the following code cells by adding appropriate print statements, which will help identify the source of the problem. 

**Don't solve the problem, add a print statement which will help solve the problem.**

## Functions to Consider

- Print statements

## Example
### Problem
Notice that when the cell is run, it has a *TypeError:* *can't multiply sequence by non-int of type 'str'*

In [1]:
num = input("Give me a number to square")
squared = num * num

Give me a number to square 4

TypeError: can't multiply sequence by non-int of type 'str'

### Solution
There are two solutions, the first is a simple *print()* statement and the better solution would be a *print(type())* statement.

In [2]:
num = input("Give me a number to square")
print(f"{num=}")
squared = num * num

Give me a number to square 4

num='4'

TypeError: can't multiply sequence by non-int of type 'str'

In [3]:
num = input("Give me a number to square")
print(f"{type(num)=}")
squared = num * num

Give me a number to square 4

type(num)=<class 'str'>

TypeError: can't multiply sequence by non-int of type 'str'

------------------------------------------------------

## Program
Add a print statement to resolve the *"Show why..."*. **Do not solve the problem!**

Data Cell below must be executed for the remaining cells to execute.

In [5]:
# Data Cell for problems:
table = {
   "fruits": ["snack", "meal", "day"],
   "apple": [],
   "banana": [],
   "orange": [],
    "grape": []
}
alist = [1, 2, 3, 4]
x = 10
j = 1
k = 10
l = -1
i_multiples = []
fruit = 'kiwi'

1. Show why line 2 has an `unsupported operand type`

In [7]:
print(f"{alist = }")
power_of_a = alist ** 2

alist = [1, 2, 3, 4]

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

2. Show why line 2 has an `has no attribute 'stddev'`

In [12]:
import statistics
print(f"{statistics = }")
print(statistics.stddev(alist))

statistics = <module 'statistics' from 'C:\\JupyterLab\\Python\\lib\\statistics.py'>

AttributeError: module 'statistics' has no attribute 'stddev'

3. Show why line 3 has a `list index out of range`

In [15]:
blist = []
for i in range(5):
    print(f"{blist = }")
    blist.append(alist[i] * 4)

blist = []
blist = [4]
blist = [4, 8]
blist = [4, 8, 12]
blist = [4, 8, 12, 16]

IndexError: list index out of range

4. Show why every other number in *blist* is a 0.

In [21]:
blist = []
for i in range(4):
    print(f"{i = }")
    for j in range(2):
        #print(f"{j = }")
        blist.append(alist[i] * j)
#print(f"{alist = }")
print(f"{blist}")

i = 0
i = 1
i = 2
i = 3
[0, 1, 0, 2, 0, 3, 0, 4]

5. The desired result is 100 divided by an integer ranging from 10 to 1. Show why the print statement isn't printing the correct results.

In [24]:
for i in range(x, 0, -1):
    print(f"{x = }")
    #print(f"{100/x}")

x = 10
x = 10
x = 10
x = 10
x = 10
x = 10
x = 10
x = 10
x = 10
x = 10

6. Show why *table* has a `KeyError`.

In [33]:
#print(f"{grapes = }")
table['grape'].append(5)
#didn't work because grape was defined as "grapes".

7. Show why *sum* isn't adding correctly. Make sure the Data cell above has been executed properly.

In [34]:
for i in range(5):
    #print(f"{x = }")
    sum += x
print(f"{sum}")

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

8. For values of i from 0 to 4, *total* will always equal 50, however it doesn't. Add a print statement to show why.

In [38]:
for i in range(5):
    total += x
    print(f"{total = }")
print(f"{total}")

NameError: name 'total' is not defined

9. The loop isn't executing properly, show why it isn't.

In [ ]:
for i in range(j, k, l):
    i_multiples.append(i * l)
print(f"{i_multiples}")

10. Show why *table* has a `KeyError`. *Hint: You need to know 2 things.*

In [ ]:
table[fruit].append(10, 20, 40)